astroid==3.3.6
configparser==7.1.0
coverage==7.6.9
dill==0.3.9
execnet==2.1.1
iniconfig==2.0.0
isort==5.13.2
mccabe==0.7.0
mock==5.1.0
mypy==1.13.0
mypy-extensions==1.0.0
packaging==24.2
platformdirs==4.3.6
pluggy==1.5.0
pylint==3.3.2
pyside6>=6.8,<7.0
pytest==8.3.4
pytest-cov==6.0.0
pytest-xdist==3.6.1
ruff==0.8.4
tomlkit==0.13.2
typing_extensions==4.12.2
